.encabezado{
    text-align: center; background-color: #85B6C4; color:#153E3E; font-size: 18px;
}

.tabletr{
    border-color: #0d4b5c;
    border-top:2px solid;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: center;
    font-size: 24px;
    font-style: bold;
    height:'100vh';
 
}
.tabletr td{
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
 
}